
<div class="ABOUT">
  <h1 style="font-size: 60px; font-family:Britannic Bold ;">ABOUT ME</h1>
  <p style="font-size:25px; font-family:Calibri Light (Headings) ;">Here you will find more information about me, what I do, and my current skills<br>
       mostly in terms of programming and technology</p>
       <br>
<div class="ravi">
  <h1 style="font-size:35px;">Get to know me!</h1></div>
  <br>
  <br>
  <div class="block">
      <div class="para">
  <P style="font-size: 20px;">
      I'm a <b>Frontend Web Developer</b> building the Front-end of Websites and 
      Web Applications that leads to the success of the overallproduct. Check 
      out some of my work in the Projects section.<br>
      <br>
      I also like sharingcontent related to the stuff that I have learned
         over the years in Web Development so it can help other people of
          the Dev <br>
          Community. Feel free toConnect or Follow me on my Linkedin 
          where I post useful content related to Web Development and Programming<br>
          <br>
          I'm open to Job opportunities where I can contribute, learn and grow. If you 
          have a good opportunity that matches my skills and experience <br>
       then don't hesitate to contact me.
  </P>
</div>
<div class="para">
  <h1 style="font-size:30px;">my skills</h1>
<div class="lang">CSS</div>
<div class="lang">HTML</div>
<div class="lang">JAVASCRIPT</div>
<div class="lang"> Bootstrap </div>
<div class="lang">Angular</div>
<div class="lang"> JQueary</div>
</div>
</div>
</div>
