<form [formGroup]="userForm" (ngSubmit)="addUser()" class="form-group">
    <div class="form">
<div class="heading"> <h5>Student Form</h5></div>
<div>
<label for="id"> EmpID:</label>
<input type="number" name="id" formControlName="id">
</div>
<div>
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder=" Enter your full name" formControlName="name">
    </div>
<div>
    <label for="phone">Phone:</label>
    <input type="number" name="id" placeholder="+91-" formControlName="phone">
    </div>    
<div>
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="@gmail.com" formControlName="email">
    </div>
    <div class="button">
    <button class=" btn btn-success" (click)="add()">Registration</button>
</div>
</div>

<div class="studentList">
    <div class="heading"> <h5>Student List</h5></div>

<table class="table-heading">
    <tr >
        <th>Emp ID</th>
        <th>Name</th>
        <th>phone</th>
        <th>email</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let user of userList;let i = index">
   <td>{{user.id}}</td>
   <td>{{user.name}}</td>
   <td>{{user.phone}}</td>
   <td>{{user.email}}</td>
   <button class="btn btn-danger" (click)="delete(i)">Delete</button>
    </tr>
    
</table>

</div>
</form>
