

<div class="HOME" id="HOME">
      
    <h1 style="font-size: 60px; font-family: Britannic Bold;">HEY I'M RAVINDRA REDDY</h1><br>
  <br>
  <P style="font-size:25px; font-family: Calibri Light (Headings);">  A Frontend focused Web Developer building the Frontend of Websites and Web<br>
     Applications that leads to the success of the overall product
  </P>
  <br>
  <br>
  <button type="button" class="btn btn-primary" style="background-color: blue; padding:15px; border-radius: 10%;"> <a href="#CONTACT" style="color:white;text-decoration: none;">CONTACT</a></button>
  </div>
  